body {    
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MjItMDQ3LWtxOTJ3eDl5LmpwZw.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    color: rgba(52,76,17);
    padding: 0;
    font-family: Helvetica, sans-serif;
    margin: 50px 0;
}
  
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  display:inline-block;
  flex-direction: column;
  align-items: center;
  background-color: #1D2323;
  padding: 20px;
}
  
.top-bar {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin-right: 0px;
  margin-left: 50px;
  margin-top: 0px;
  padding-top: 20px;
}
  
  .logo img {
    display: inline-block;
    max-height: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
    height: 100px;
    width: auto;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: large;
  }
  
  nav ul li a:hover {
    color: #999;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 1px;
    margin-top: 1px;
  }
  
  p {
    margin-bottom: 1px;
    margin-top: 1px;
  }
  
  #image-carousel {
    margin-top: 30px;
  }
  
  .carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .carousel a {
    margin: 10px;
  }
  
  .carousel img {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }

div div a img{
    border-radius: 10%;
}


.justify {
    text-align: center;
    margin-top: 50px;
}

/* creators about */
#creators-section {
    padding: 20px;
}
  
.author {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 10%;
}
  
.author h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.author p {
    margin: 15px 0;
    line-height: 1.5;
    font-size: large;
}

.author a {
    color: rgb(7, 7, 7);
    text-decoration: none;
}

.author a:hover {
    color: #999;
}



/* individual plants */

#image-section {
    margin-top: 20px;
  }
  
  #image-section img {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
  }
  
  #image-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    cursor: pointer;
    color: rgb(2, 2, 2);
    text-decoration:solid;
  }
  
  #image-section p {
    margin-bottom: 10px;
    font-size: large;
    width: 60%;
    margin-left: 20%;
  }

  #about-model-section p {
    line-height: 1.5;
    font-size: large;
  }

  #about-model-section img {
    width: 80%;
  }

  #about-app-section p {
    line-height: 1.5;
    font-size: large;
  }

  #about-app-section img {
    width: 80%;
  }

  #welcome-section p {
    line-height: 1.5;
    font-size: large;
  }
  
  .top-bar {
    padding: 5px 10px;
  }
  
  #welcome-section .container {
    margin: 0 auto;
  }
  
  #welcome-section .container {
    max-width: 600px;
    margin-top: 0 auto;
  }

  .try-demo-button-container {
    text-align: center;
    margin-top: 50px;
  }

  .try-demo-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #CBC967;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }